label[for]{
    background-color: yellow;
}

.obrigatorio{
    color: red;
}
input[type=text]{
    background: #EEE;
    border: 1px solid black;
}
form div{
    margin: 10px;;
}
a[href*=edu]{
    background: green;
    color: #EEE;
}
option[value=S]{
    color: blue;
}
option[value=R]{
    color: red;
}
option[value=E]{
    color: yellow;
}

[placeholder]{
    color: red;
}